<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.bobs.own.ezmenu.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="">
         </property>
         <property
               name="appName"
               value="net.bobs.own.ezmenu.ui">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.bobs.own.ezmenu.navigtor.ui.EzMenuExplorerView"
            icon="icons/restaurantmenu-18.png"
            id="net.bobs.own.ezmenu.navigator.ui.ezmenuexplorerview"
            name="EzMenu Explorer"
            restorable="true">
      </view>
   </extension>

</plugin>
