<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="abc"
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.bobs.own.ezmenu.meals.ui.category"
            defaultHandler="net.bobs.own.ezmenu.meals.handlers.ui.AddIngredientHandler"
            id="net.bobs.own.ezmenu.meals.ui.addingredient.command"
            name="%add.ingredient">
      </command>
      <command
            id="net.bobs.own.ezmenu.meals.ui.deleteingredient.command"
            defaultHandler="net.bobs.own.ezmenu.meals.handlers.ui.EditIngredientHandler"
            name="%edit.ingredient">
      </command>
      <command
            id="net.bobs.own.ezmenu.meals.ui.deleteingredient.command"
            name="%delete.ingredient">
      </command>
      <category
            id="net.bobs.own.ezmenu.meals.ui.category"
            name="%category.name">
      </category>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.SelectAllHandler"
            description="%select.all"
            id="net.bobs.own.ezmenu.meals.ui.selectall.command"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.bobs.own.ezmenu.meals.ui.ingredients.popup">
         <command
               commandId="net.bobs.own.ezmenu.meals.ui.addingredient"
               icon="icons/add_obj.gif"
               label="%add.ingredient"
               style="push">
         </command>
         <command
               commandId="net.bobs.own.ezmenu.meals.ui.edit.ingredient.command"
               icon="icons/edit-list.png"
               label="%edit.ingredient"
               style="push">
         </command>
         <command
               commandId="net.bobs.own.ezmenu.meals.ui.deleteingredient.command"
               icon="icons/delete_obj.gif"
               label="%delete.ingredient"
               style="push">
         </command>
         <separator
               name="net.bobs.own.ezmenu.meals.ui.separator">
         </separator>
         <command
               commandId="net.bobs.own.ezmenu.meals.ui.selectall.command"
               label="%select.all"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.bobs.own.ezmenu.meals.handlers.ui.AddIngredientHandler"
            commandId="net.bobs.own.ezmenu.meals.ui.addingredient.handler">
      </handler>
      <handler
            class="net.bobs.own.ezmenu.meals.handlers.ui.EditIngredientHandler"
            commandId="net.bobs.own.ezmenu.meals.ui.edit.ingredient.command">
      </handler>
      <handler
            class="net.bobs.own.ezmenu.meals.handlers.ui.DeleteIngredientsHandler"
            commandId="net.bobs.own.ezmenu.meals.ui.deleteingredient.command">
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.SelectAllHandler"
            commandId="net.bobs.own.ezmenu.meals.ui.selectall.command">
      </handler>
   </extension>

</plugin>
